.section-one {
    background: var(--degrade);
    text-align: center;
    padding: 2.5em 2em;
}
.titulo_inicial {
    color: var(--branco);
    font-size: 2.25em;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.paragrafo_inicial {
    color: var(--branco);
    font-size: 1em;
    font-weight: 500;
}
.barra_pesquisa {
    width: 23.75em;
    padding: 0.62em 1.5em;
    margin: 1.5em auto;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 0.625em;
    background-color: transparent;
    border: 1px #EBECEE solid;
    border-radius: 1.5em;
    outline: none;
    color: var(--branco);
}
.barra_pesquisa::placeholder {
    color: var(--branco);
    font-size: 15px;
    background: url(../imagens/Lupa.svg) no-repeat;
    margin-left: 10px;
    background-position: 1em;
}
.container_inicial_copy1 {
    display: flex;
    justify-content: center;
    gap: 0.85em;
    border: 0.06em solid var(--branco);
    width: 20em;
    margin: 1.5em auto;
    padding: 0.62em 1.5em;
    border-radius: 1.5em;
}
.paragrafo_barra_pesquisa {
    color: var(--branco);
    font-weight: 400;
    font-size: 0.85em;
}

/*--------------------------- telas acima de 1023px */

@media screen and (min-width: 1024px) {
    .titulo_inicial {
        color: var(--branco);
        font-size: 2.25em;
        font-weight: 700;
        margin-bottom: 0.5em;
    }
    .barra_pesquisa {
        width: 50%
    }
    .barra_pesquisa::placeholder {
        background-position: 6em;
    }
}

/*--------------------------- telas acima de 1728px */

@media screen and (min-width: 1728px) {
    .barra_pesquisa {
        width: 33%
    }
    .barra_pesquisa::placeholder {
        background-position: 9em;
    }
    .section-one {
        padding: 5em 0;
    }
}

