:root {
    --branco: #ffffff;
    --cor-background: #EBECEE;
    --cor-primaria: #016A70;
    --cor-secundaria: #A2C579;
    --cor-terciaria: #D2DE32;
    --cor-quartenaria: #FFFFDD;
}
body {
    background-color: var(--cor-background);
    font-family: 'Poppins', sans serif;
    height: 100vh;
    overflow-x: hidden;
}

/* ------------------------------------------------------------parte inicial */

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between; 
    padding: 1.15em 1.12em;
    position: relative;
}
.container {
    display: flex;
    gap: 1.5em;
    align-items: center;
}
.menu_hamburger {
    width: 24px;
    height: 24px;
    background-image: url(../imagens/Menu.svg);
    display: inline-block;
}
.section-one {
    background: linear-gradient(to right, #016A70, #096c71);
    height: 13.43em;
    padding-bottom: 2.02em;
}
.titulo_inicial {
    color: var(--branco);
    font-size: 2.25em;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0.5em;
}
.paragrafo_inicial {
    color: var(--branco);
    text-align: center;
    font-size: 1em;
    font-weight: 500;
}
.lista_menu {
    display: none;
    position: absolute;
    top:100%
}
.container_botao:checked~.lista_menu {
    display: block;
}
.container_inicial {
    padding-top: 2em;
}
.container_inicial_copy1 {
    display: flex;
    justify-content: center;
    gap: 0.85em;
    border: 0.06em solid var(--branco);
    width: 20em;
    margin: 1.5em auto;
    padding: 0.62em 1.5em;
    border-radius: 1.5em;
}
.paragrafo_barra_pesquisa {
    color: var(--branco);
    font-weight: 400;
    font-size: 0.85em;
}

/* ---------------------------------------------------------------corpo */

.section_principal {
    height: 100vh;
}

.titulo_lancamentos {
    font-size: 1.125em;
    color: #096c71;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}
.section_lancamentos {
    background-color: var(--branco);
    height: 2em;
    padding-top: 1em;
}
.section_main {
    height: 40.937em;
}
.ellipse {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.5em;
    margin: 0.75em auto 1em auto;
    justify-content: center;
}
.section_livos {
    box-sizing: content-box;
    display: flex;
    gap: 1.25em;
    align-self: center;
    align-items: center;
    margin: auto 1.5em;
}
.section_livros_one {
    background: url(../imagens/ApacheKafka.svg) lightgray 50% / cover no-repeat;
    width: 11.1875em;
    height: 15.5685em;
    display: inline-block;
    margin-left: -100px;
}
.section_livros_two {
    background: url(../imagens/Liderança.svg);
    width: 11.1875em;
    height: 15.5685em;
    display: inline-block;
    margin: auto 1.25em;
}
.section_livros_three {
    background: url(../imagens/Javascript.svg);
    width: 11.1875em;
    height: 15.5685em;
    display: inline-block;   
    margin-right: -200px;

}
.div_angular11 {
    width: 23.75em;
    height: 18.4375em;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    margin: 1.25em 1.5em;
    padding: 1.5em;
    border-radius: 0.625em;
}
.background_angular {
    background: url(../imagens/Angular.svg) lightgray 50% / cover no-repeat;
    width: 11.75em;
    height: 11.75em;
    display: inline-block;
    align-self: flex-end;
    position: absolute;
}
.titulo_interesse_angular {
    color: var(--cor-secundaria);
    font-size: 1em;
    font-weight: 700;
    width: 11.1875em;
    height: 3em;
}
.titulo_angular {
    color: var(--cor-primaria);
    width: 8.9375em;
    font-size: 1.25em;
    font-weight: 700;
    height: 3.375em;
}
.paragrafo_angular {
    width: 9.25em;
    height: 4.0625em;
}
.section_angular {
    margin-top: 2em;
    height: 2em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.625em;
    padding: 0.5em;
}
.icone_section_angular {
    display: inline-block;
}
.botao_saibamais_angular {
    display: flex;
    justify-content: end;
    width: 10.0625em;
    align-self: flex-end;
    background-color: var(--cor-secundaria);
    color: var(--branco);
    font-size: 1em;
    font-weight: 700;
    align-items: center;
    text-align: center;
}
